In [ ]:
print(1+1)
print("1+1")
'1'+'1'

2
1+1

'11'

In [ ]:
a=input()
print(a[-1::-1])
print(a[len(a)-1::-1])
print(a[-1:-len(a)-1:-1])

sapt
tpas
tpas
tpas

In [ ]:
x=7
y=5
print(x/y)
print(x//y)
print(x*y)
print(x**y)
print(x%y)

1.4
1
35
16807
2

In [ ]:
1 + 1

2

In [ ]:
x=25
y=13
t=x
x=y
y=t
print(x)
print(y)

13
25

In [ ]:
x=13
print(bin(x))

0b1101

In [ ]:
x=13
y=14
x=x^y
y=x^y
x=x^y
print(x)
print(y)

14
13

In [ ]:
(1 * 3

3

In [ ]:
1 / 2

0.5

In [ ]:
4/2

2.0

In [ ]:
2 ** 4

16

In [ ]:
4 % 2

0

In [ ]:
(2 + 3) * (5 + 5)

50

In [ ]:
'My age is ' +'27'

'My age is 27'

Q 1.Find the output of the Following code:
(1996-1995)*(1996-1996)*(1996-1997)/(1996-1996)

In [ ]:
name=input()
age=input()
name+" is "+age+" years old"

sap
27

'sap is 27 years old'

In [ ]:
(1996-1995)*(1996-1996)*(1996-1997)/(1996-1996)

ZeroDivisionError: division by zero

**Zero Division error**

**Strings**

In [ ]:
'Can be written in single quotes'

'Can be written in single quotes'

In [ ]:
"Can be written in double quotes"

'Can be written in double quotes'

In [ ]:
'1'+'2'

'12'

Printing:
For printing anything in python we use print() function

In [ ]:
'my age is' 27

SyntaxError: invalid syntax (<ipython-input-4-67d194680f00>, line 1)

In [ ]:
print('Hello')

Hello

In [ ]:
print(1+1)

2

In [ ]:
x = 'Hello World!'

In [ ]:
x

'Hello World!'

In [ ]:
print(x)

Hello World!

In [ ]:
'the value is' 5

SyntaxError: invalid syntax (<ipython-input-16-9b4b33a362d0>, line 1)

In [ ]:
x = 5
print("The value of x is", x)

The value of x is 5

In [ ]:
x=input()
y=input()
print(x+y)

1
2
12

In [ ]:
name=input()
age=int(input())
print("My name is "+ name+ "My age is" + age)

sap
27

TypeError: can only concatenate str (not "int") to str

In [ ]:
'sap' +'1'+'3'

'sap13'

Q 2. Take name and age as input and print the following line:
-----is ---- years old.

Formatting Output:
Pythonâ€™s print() function offers various ways to format output, making it easier to read and interpret data. String formatting methods like f-strings, str.format(), and concatenation are commonly used.

**F-Strings** (Formatted String Literals)
Introduced in Python 3.6, f-strings offer an efficient and readable method for formatting strings.

In [ ]:
name = input()
age = int(input())
print(f"{name} is {age} years old.")

34
45
34 is 45 years old.

The **str.format()** Method
This method is versatile and works well in versions prior to Python 3.6.

In [ ]:
'''name = input()
age = int(input())
print('{string} is {number} years ils'.format(number=age,string=name))'''

dff
45
dff is 45 years ils

In [ ]:
a=56
b=58
print(a,b)

56 58

**Customizing Separators and End Characters**
The print() function allows customization of the separator between items (default is space) and the end character (default is newline).

In [ ]:
print("A", "B", "C", sep=", ", end=".")

A, B, C.

In [ ]:
print("A", "B", "C", sep="* ", end="!")

A* B* C!

**Flushing the Output**
Using IPython Display
The IPython display module provides more control over the output in Jupyter notebooks (like Google Colab). We can use display() and clear_output() to create a dynamic updating effect.

In [ ]:
import time
from IPython.display import display, clear_output

for i in range(100):
    clear_output(wait=True)
    print(f"Processing item {i}...")
    time.sleep(1)

Processing item 16...

KeyboardInterrupt:

**Input function**
Taking user input is a fundamental aspect of interactive Python programs. The primary function used for this purpose is **input()**. This function reads a line from input, converts it into a string (stripping a trailing newline), and returns it. Here are various examples demonstrating different scenarios and methods of taking input in Python:

**Basic Usage of input():**
The simplest use case is to prompt the user for some text input.

In [ ]:
x=input("Your name is: ")

Your name is: sap

In [ ]:
'''user_input = input("Please enter your name: ")
print(f"Hello, {user_input}!")'''

Please enter your name: Saptarsi
Hello, Saptarsi!

**Taking Multiple Inputs in a Single Line:**
Sometimes, you may want to take multiple inputs in one line, usually separated by spaces.

In [ ]:
'''x, y = map(int, input("Enter two numbers separated by space: ").split())
print(f"The sum of {x} and {y} is {x + y}.")'''

Enter two numbers separated by space: 45 67
The sum of 45 and 67 is 112.

In [ ]:
x=input()
y=input()
print(x+y)

In [ ]:
x=int(input())
y=int(input())
print(x+y)

4
6
10

6Q 3. Take input name and age and print "my name is ......, my age is ........." using flushing output
in each time a word will be printed

In [ ]:
import time
from IPython.display import display, clear_output
# Taking inputs
name = input("Enter your name: ")
age = input("Enter your age: ")

# Preparing the message
message = f"My name is {name}, my age is {age}."

# Splitting the message into words
words = message.split()

# Printing each word with flushing
for word in words:
    print(word, end=' ', flush=True)
    time.sleep(0.5)  # Adjust the delay as needed

Enter your name: sap
Enter your age: 27
My name is sap, my age is 27.

**Identifiers**:
Identifiers: name used to identify a variable, funtion, class, module or any other object. a) Identifiers can ba a combination of lower case letters or upper case letters or digits or underscore(_).

In [ ]:
aa_6=5
print(aa_6)

5

**Reserve keywords**
Reserved Keyword: reserved keywords of the programming language.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

a)Reserved keywords cannot be used as an identifiers

In [ ]:
False=5
print(False)

SyntaxError: cannot assign to False (<ipython-input-39-c90848d7e3c2>, line 1)

b) Identifiers cannot begin with digit

In [ ]:
2a=6
print(2a)

SyntaxError: invalid decimal literal (<ipython-input-40-d4b9f2794080>, line 1)

c) Symbols like @, #,! etc cannot be used as identifiers

In [ ]:
!a=6
print(!a)

SyntaxError: invalid syntax (<ipython-input-41-7408345b3e09>, line 2)

In [ ]:
print(input())

sapt
sapt

**Variables**: Reserved momory location to store values. The equal sign (=) is used to assign values to variables. the operator to the left of the = operator is name of the variable and the operand to the next to the right of the = operator is the value stored in the variable.

**Variable type:**
a) Integer value

An integer type variable in Python is a variable that holds an integer value. Integers are whole numbers without a fractional part, and they can be positive, negative, or zero. In Python, integers are represented by the int type.

 **Basic Operations on Integer Type Variables
Arithmetic Operations**

Addition (+): Adds two integers.

Subtraction (-): Subtracts one integer from another.

Multiplication (*): Multiplies two integers.

Division (/): Divides one integer by another and returns a float.

Floor Division (//): Divides one integer by another and returns the largest
integer less than or equal to the result.

Modulus (%): Returns the remainder of the division of two integers.

Exponentiation (**): Raises one integer to the power of another.

In [ ]:
a = int(input())
b = int(input())

print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.3333...
print(a // b) # Floor Division: 3
print(a % b)  # Modulus: 1
print(a ** b) # Exponentiation: 1000

10
3
13
7
30
3.3333333333333335
3
1
1000

**Comparison Operations**


Equal to (==): Checks if two integers are equal.

Not equal to (!=): Checks if two integers are not equal.

Greater than (>), Less than (<): Compares two integers.

Greater than or equal to (>=),
Less than or equal to (<=): Compares two integers.

In [ ]:
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

**Bitwise Operations**

AND (&): Performs bitwise AND operation.

OR (|): Performs bitwise OR operation.

XOR (^): Performs bitwise XOR operation.

NOT (~): Performs bitwise NOT operation.

Left Shift (<<): Shifts the bits of the integer to the left.

Right Shift (>>): Shifts the bits of the integer to the right.

In [ ]:
a=10
b=3
print(a & b)  # Bitwise AND: 2
print(a | b)  # Bitwise OR: 11
print(a ^ b)  # Bitwise XOR: 9
print(~a)     # Bitwise NOT: -11 (explain later)
print(a << 1) # Left Shift: 20 (explain later)
print(a >> 1) # Right Shift: 5 (explain later)

2
11
9
-11
20
5

To convert an integer to its binary representation in Python, one can use the built-in bin() function. This function takes an integer and returns its binary representation as a string. The binary string is prefixed with '0b', which indicates that the following characters are in binary format. Here's an example of how to use it:

In [ ]:
x=int(input())
y=int(input())
binary_representation = bin(x)
binary_representation_1 = bin(y)
print(binary_representation)
print(binary_representation_1)
x=x^y
y=x^y
x=x^y
print(x)
print(y)

5
7
0b101
0b111
7
5

In [ ]:
result = 11 >> 1
print(result)  # Output will be 5

5

**Assignment Operations**


Combine arithmetic or bitwise operations with assignment (e.g., +=, -=, *=, &=, |=, ^=, <<=, >>=).

In [ ]:
c = 5
c += a  # Equivalent to c = c + a
print(c)

15

Q 4. WAP to swap the value of two integer variables.

In [ ]:
x=input()
y=input()
print(x+y)

3
4
34

**2. String**

String is a data type traditionally represented as a sequence of characters, often used to store text. Strings are implemented in most programming languages and are fundamental in handling textual data. The specific implementation and behavior of strings can vary between languages, but they generally offer a range of operations that can be performed on them. Below is a detailed exploration of common string operators and functionalities typically found in many programming languages.

**Length**

This operation returns the number of characters in a string. It's essential for iterating over the string or for operations that require knowledge of the string's size.

In [ ]:
string = "Hello World"
#length = len(string)
print(len(string))  # Output: 11

11

In [ ]:
a = "Hello World"
print(a[6])
print(a[-5])

W
W

In [ ]:
print(a[0:5])
print(a[0:])
print(a[0::2])
print(a[1::2])
print(a[1:3])
print(a[-5:])
print(a[-1:-11:-1])
#print(a[-1:-11])
print(a[-1::-1])

Hello
Hello World
HloWrd
el ol
el
World
dlroW olle
dlroW olleH

. **Concatenation**

Concatenation is the operation of joining two or more strings end-to-end. It's a fundamental operation in string manipulation, allowing the creation of new strings by combining existing ones. For example, concatenating "Hello" and "World" results in "HelloWorld".

In [ ]:
str1 = "Hello"
str2 = "World"
concatenated = str1 + " " + str2
print(concatenated)  # Output: Hello World

Hello World

**Indexing**
Indexing refers to accessing individual characters in a string. Strings are often treated as arrays of characters, and each character can be accessed using its index, typically starting from zero.

In [ ]:
string = "Hello"
char = string[1]  # Indexing starts at 0
print(char)  # Output: e
print(string[-1])
print(string[0])
print(string[-5])

e
o
H
H

**Slicing**

Slicing is used to obtain a substring of the original string. It involves specifying a start and end index to create a new string from the portion of the original string.

In [ ]:
string = "Hello World-hello"
substring = string[6:11]  # Slice from index 6 to 10
print(substring)  # Output: World
print(string[3:])
print(string[:11])
print(string*2)

World
lo World-hello
Hello World
Hello World-helloHello World-hello

In [ ]:
print(string[0:13:2])

HloWrdh

In [ ]:
print(string[9:0:1]) #No output but no error

In [ ]:
print(string[9:0:-1])

lroW olle

**Reversing a string**

In [ ]:
print(string[-1:-100:-1])

olleh-dlroW olleH

In [ ]:
print(string[-1::-1])

olleh-dlroW olleH

In [ ]:
print(string[::-1])

olleh-dlroW olleH

In [ ]:
print(string[::-2])

olhdrWolH

**find()**

Searching involves finding a character or substring within a string. This can include checking if a string contains a particular substring, or finding the position of a substring within a string.

In [ ]:
string = "we are masters in programming"
position = string.find("in")

print(position)
print(string.find("world"))

15
-1

**index()**

In [ ]:
a='Hello World'
print(a.index("orl"))
print(a.index('a'))

7

ValueError: substring not found

In [ ]:
a='Hello world'
print(a.count('c'))

0

In [ ]:
a=input()
b=str(a.count('a'))
b1=str(a.count('b'))
b2=str(a.count('c'))
b3=str(a.count('d'))
print('a'+b+'b'+b1+'c'+b2+'d'+b3)

aaaa
a4

**split()**

In [ ]:
a=12
b=str(a)
print(b)
print(a)

12
12

In [ ]:
a='python programming'
b='python*programming'
c='python#programming#for#MBA'
print(a.split(" "))
print(b.split("*"))
print(c.split("#",3))

['python', 'programming']
['python', 'programming']
['python', 'programming', 'for', 'MBA']

**Membership Function**

In the context of strings, the term "membership function" typically refers to an operation that checks whether a certain character or substring is present within a given string. In Python, this is commonly achieved using the in and not in operators. These operators allow for a concise and readable way to test for the presence of a substring within a larger string.

Using in Operator
The in operator returns True if the specified substring exists within the string; otherwise, it returns False.

In [ ]:
s='MBA Programming'
print('BA' in s)
print('BA' not in s)
print('Ba' in s)

True
False
False

In [ ]:
string = "Hello World"
substring = "World"

# Check if 'World' is in 'Hello World'
result = substring in string
print(result)  # Output: True

# Check if 'Python' is in 'Hello World'
result = "Python" in string
print(result)  # Output: False

True
False

Using not in Operator
Conversely, the not in operator returns True if the specified substring does not exist within the string.

In [ ]:
string = "Hello World"

# Check if 'Python' is not in 'Hello World'
result = "Python" not in string
print(result)  # Output: True

# Check if 'World' is not in 'Hello World'
result = "World" not in string
print(result)  # Output: False

True
False

**lower()**: returns a copy of string in which all upper case alphabets are convered to lower case.

In [ ]:
s='Learning Python'
print(s.lower())

learning python

**upper()**: returns a copy of string in which all lower case alphabets are convered to upper case.

In [ ]:
print(s.upper())

LEARNING PYTHON

**swapcase()**:upper becomes lower and vice versa

In [ ]:
print(s.swapcase())

lEARNING pYTHON

**capitalize()**:returns a copy of string with only its first character capitalized

In [ ]:
a="mBA"
print(a.capitalize())

Mba

**title()** returns the first letter capital

In [ ]:
a='hello world'
print(a.title())

Hello World

**ljust()**

In [ ]:
a="Hello"
b=a.ljust(10,'*')
print(b)

Hello*****

**rstrip()**

In [ ]:
 print(b)
 print(b.rstrip('*'))

Hello*****
Hello

**rjust()**

In [ ]:
a="hello"
b=a.rjust(12,"*")
print(b)

*******hello

**lstrip()**

In [ ]:
print(b.lstrip("*"))

hello

**center()**

In [ ]:
a="ABC"
b=a.center(12,"&")
print(b)

&&&&ABC&&&&&

**strip()**

In [ ]:
print(b.strip("&"))

ABC

**replace()**

In [ ]:
a="this is very new. this is good"
print(a.replace('is','was'))
print(a.replace('is','was',1))

thwas was very new. thwas was good
thwas is very new. this is good

**count()**

In [ ]:
a='saptarsi sanyal'
print(a.count('i'))
print(a.count('i',0,4))

1
0

In [ ]:
a='Hello World'
print(a.replace('ll',''))

Heo World

In [ ]:
a='20'
#print(oct(a))
print(int(a,4))

8

In [ ]:
a="madam"
b=a[-1::-1]
print(a==b)

True

In [ ]:
a=20
print(oct(a))

0o24

Q4. String Compression: Implement a method to perform basic string compression using the counts of repeated characters. For example, the string aabcccccaaa would become a2b1c5a3. If the "compressed" string would not become smaller than the original string, your method should return the original string.

 Q5.Longest Palindromic Substring: Given a string s, find the longest palindromic substring in s.